<!DOCTYPE html>
<!-- je décore le layout contenu dans layout/main.html -->
<html lang="en" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Films</title>
</head>
<body>

<!-- contenu principal qui  va remplacer le main de mon layout-->
<main layout:fragment="content">
        <h1>Création de film</h1>
    
        <!-- on va référencer en écriture le fragment filmForm -->
        <form  th:replace="~{fragments/filmForm :: form (false)}" >
        </form>
       
    </main>
    
</body>
</html>